/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.column {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .padding {
  padding: 0 1rem;
}
.row .padding:first-child {
  padding-left: 0;
}
.row .padding:last-child {
  padding-right: 0;
}
.row.padding {
  margin: 2rem 0;
}
.row.padding:first-child {
  margin-top: 0;
}
.row.padding:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .half.column,
  .fifty.column {
    width: 50%;
  }
  .third.column {
    width: 33.3333%;
  }
  .forth.column {
    width: 25%;
  }
  .fifth.column,
  .twenty.column {
    width: 20%;
  }
  .thirty.column {
    width: 30%;
  }
  .forty.column {
    width: 40%;
  }
  .sixty.column {
    width: 60%;
  }
  .seventy.column {
    width: 70%;
  }
  .eighty.column {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .column {
    width: 100%;
  }
  .row.padding {
    margin: 0;
  }
  .row p {
    margin: 2rem;
  }
  .row p:last-child {
    margin-bottom: 0;
  }
  .row p:first-child {
    margin-top: 0;
  }
  .row h4 {
    margin: 2rem;
  }
  .row .padding {
    padding: 0;
  }
}
.container {
  position: relative;
  margin: 0 auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
.large-container {
  position: relative;
  max-width: 73.5rem;
  margin: 0 auto;
}
.large-container:after {
  content: "";
  display: table;
  clear: both;
}
.medium-container {
  position: relative;
  max-width: 46rem;
  margin: 0 auto;
}
.medium-container:after {
  content: "";
  display: table;
  clear: both;
}
.small-container {
  position: relative;
  max-width: 37.5rem;
  margin: 0 auto;
}
.small-container:after {
  content: "";
  display: table;
  clear: both;
}
.vsmall-container {
  position: relative;
  max-width: 16rem;
  margin: 0 auto;
}
.vsmall-container:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 767px) {
  .container,
  .large-container,
  .medium-container,
  .small-container,
  .vsmall-container {
    max-width: none;
    width: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .desktop {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .desktop-tablet {
    display: none !important;
  }
}
@media screen and (min-width: 1024px) {
  .mobile-tablet {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .mobile {
    display: none !important;
  }
}
.button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 1.5px;
  font-weight: bold;
  transition: all 0.125s;
  border: none;
}
.button:focus {
  outline: none;
}
.button.large {
  font-size: 1rem;
  padding: 1rem 1.5rem;
}
a.button {
  text-decoration: none;
  cursor: pointer;
}
.button.blue {
  color: #ffffff;
  background-color: #333333;
  border: 1px solid #333333;
}
.button.blue:visited {
  color: #ffffff;
}
.button.blue svg {
  stroke: #ffffff;
  transition: stroke 0.125s;
}
.button.blue:hover {
  background-color: #0c8aea;
  border: 1px solid #0c8aea;
}
.button.blue:active {
  background-color: #0b7bd2;
  border: 1px solid #0b7bd2;
}
.button.ghost-blue {
  color: #333333;
  border: 1px solid #333333;
  background-color: transparent;
}
.button.ghost-blue:visited {
  color: #333333;
}
.button.ghost-blue svg {
  stroke: #333333;
  transition: stroke 0.125s;
}
.button.ghost-blue:hover {
  background-color: #333333;
  border: 1px solid #333333;
  color: #ffffff;
}
.button.ghost-blue:hover:visited {
  color: #ffffff;
}
.button.ghost-blue:hover svg {
  stroke: #ffffff;
  transition: stroke 0.125s;
}
.button.ghost-blue:active {
  background-color: #0c8aea;
  color: #ffffff;
}
.button.ghost-blue:active:visited {
  color: #ffffff;
}
.button.ghost-blue:active svg {
  stroke: #ffffff;
  transition: stroke 0.125s;
}
.button.white {
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.button.white:visited {
  color: #333333;
}
.button.white svg {
  stroke: #333333;
  transition: stroke 0.125s;
}
.button.white:hover {
  background-color: #e8f5fe;
  border: 1px solid #e8f5fe;
}
.button.white:active {
  background-color: #dff0fd;
  border: 1px solid #e8f5fe;
}
.button.ghost-white {
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: clear;
}
.button.ghost-white:visited {
  color: #ffffff;
}
.button.ghost-white svg {
  stroke: #ffffff;
  transition: stroke 0.125s;
}
.button.ghost-white:hover {
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.button.ghost-white:active {
  color: #333333;
  background-color: #e8f5fe;
}
.big-switch {
  position: relative;
  margin: 0 auto;
}
.big-switch span {
  margin: .5rem;
}
.big-switch span,
.big-switch label {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
}
.big-switch input {
  position: absolute;
  left: -9999px;
}
.big-switch .slider {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
  cursor: pointer;
  border-radius: 1.5em;
  transition: 350ms;
  background: clear;
  border: 1px solid #333333;
}
.big-switch .switch-no {
  font-size: .75rem;
  transition: all 300ms cubic-bezier(0.86, 0, 0.07, 1);
  color: #333333;
}
.big-switch .switch-yes {
  font-size: .75rem;
  transition: all 300ms cubic-bezier(0.86, 0, 0.07, 1);
  color: #c9d3dc;
}
.big-switch .slider::before {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  top: 3px;
  left: 4px;
  -webkit-border-radius: 60%;
  -moz-border-radius: 60%;
  border-radius: 60%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  transition: all 300ms cubic-bezier(0.86, 0, 0.07, 1);
  background: #333333;
}
.big-switch input:checked + .slider::before {
  left: 1.625rem;
}
.input {
  position: relative;
  margin: 1rem 0;
}
.input label {
  color: #98a7b4;
  top: 0.75rem;
  left: 1rem;
  position: absolute;
  transition: 0.2s;
  pointer-events: none;
  opacity: 1;
  z-index: 3;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
}
.input input {
  position: relative;
  border: 1px solid #c9d3dc;
  height: 3rem;
  padding: 0 0 1.25px 2.25rem;
  color: #31383e;
  vertical-align: middle;
  z-index: 2;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  border-radius: 0.1875rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.input input:focus {
  border: 1px solid #333333;
}
.input input:valid + label,
.input input:focus + label {
  left: 0;
  opacity: 0;
}
.input .mask {
  position: absolute;
  left: 2.4375rem;
  top: 0.75rem;
  opacity: 0;
  pointer-events: none;
  color: #d8e0e6;
  font-weight: 100;
  z-index: 3;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
}
.input input:focus ~ .mask {
  opacity: 1;
}
.input input:valid ~ .mask {
  opacity: 0;
}
.input .icon {
  top: 0.625rem;
  transition: 0.2s;
  opacity: 0;
  position: absolute;
  left: 1rem;
  z-index: 3;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
}
.input .icon svg {
  stroke: #98a7b4;
  height: 1.25rem;
  width: 1.25rem;
}
.input input:focus ~ .icon,
.input input:valid ~ .icon {
  opacity: 1;
  left: 0.75rem;
}
.input input:disabled {
  background-color: rgb(245, 245, 245);
}
.input .highlight {
  position: absolute;
  background-color: #dee8ef;
  border: 0;
  padding: 0;
  height: 52px;
  width: 292px;
  z-index: 1;
  top: -2px;
  left: -2px;
  opacity: 0;
  -webkit-border-radius: 0.3125rem;
  -moz-border-radius: 0.3125rem;
  border-radius: 0.3125rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.input input:focus ~ .highlight {
  opacity: 1;
}
.input .error {
  position: absolute;
  bottom: -15px;
  left: 7px;
  font-size: 12px;
  display: none;
}
.input input.empty {
  border: 1px solid #ea4b4b;
}
.input input.empty ~ .error {
  display: block;
}
.input input.empty:disabled {
  border: 1px solid #c9d3dc;
}
.input input.empty:disabled ~ .error {
  display: none;
}
.input .check {
  position: absolute;
  right: 12px;
  top: 10px;
  z-index: 3;
  display: none;
}
.input .check svg {
  stroke: #75bb4e;
  height: 1rem;
  width: 1rem;
}
.input .ex {
  position: absolute;
  right: 12px;
  top: 10px;
  z-index: 3;
  display: none;
}
.input .ex svg {
  stroke: #ea4b4b;
  height: 1rem;
  width: 1rem;
}
.input input.invalid ~ .ex {
  display: block;
}
.input input.valid ~ .check {
  display: block;
}
.input span.loading {
  position: absolute;
  right: 5px;
  top: 8px;
  z-index: 3;
  display: none;
  animation: loading 2s infinite linear;
}
.input span.loading svg {
  stroke: #c9d3dc;
  height: 2rem;
  width: 2rem;
}
.input input.loading ~ .loading {
  display: block;
}
.submit {
  position: relative;
  margin: 1.5rem 0;
}
.submit input {
  font-size: 0.875rem;
  padding: 0.8125rem 0;
}
.submit span.loading {
  position: absolute;
  right: 8.1875rem;
  top: 0.5rem;
  z-index: 3;
  animation: loading 2s infinite linear;
  display: none;
}
.submit span.loading svg {
  stroke: #ffffff;
  fill: #ffffff;
  height: 2rem;
  width: 2rem;
}
.submit span.loading svg .fill {
  fill: #ffffff;
}
.submit input.loading ~ .loading {
  display: block;
}
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
input {
  width: 100%;
}
input[type='checkbox'] {
  width: auto;
  display: inline-block;
}
html,
body {
  height: 100%;
  background-color: rgb(245, 245, 245);
}
body {
  font-family: "TextaAlt";
}
h1,
h2 {
  font-size: 3rem;
  color: #333333;
  font-weight: 100;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: #333333;
}
a:visited {
  color: #333333;
}
a:hover {
  color: #333333;
  border-bottom: 1px solid #333333;
}
section.light-border-grey h3.dark-border-color {
  color: #98a7b4;
}
svg {
  background: none;
  vertical-align: middle;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 0;
  padding: 0;
}
.bold {
  font-weight: bold;
}
hr.light {
  border-top: 2px solid #ecf1f5;
}
hr.dark {
  border-top: 2px solid #c9d3dc;
}
hr.light-blue {
  border-top: 2px solid #5eb2f3;
}
h2.small-grey {
  font-size: 1.625rem;
  color: #98a7b4;
}
h4.small-blue {
  font-size: 1.5rem;
  color: #333333;
  font-weight: 200;
}
h2.small-darker-grey {
  font-size: 1.625rem;
  color: #31383e;
}
.ls {
  letter-spacing: 1px;
}
.svg-icon {
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 2.5px;
}
.right {
  float: right;
}
.left {
  float: left;
}
.thick {
  stroke-width: 4px;
}
.extra-thick {
  stroke-width: 8px;
}
.square {
  stroke-linecap: square;
}
.main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3.6875rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
span.blue {
  color: #333333;
}
span.grey {
  color: #98a7b4;
}
@media screen and (max-width: 767px) {
  .main {
    padding: 52px 0 0 0;
  }
}
@media screen and (min-width: 768px) {
  .main {
    padding: 94px 0 0 0;
  }
}
.toggle-wrapper {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  border: none;
}
.hamburger-menu {
  display: none;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  font-size: 0.75rem;
}
.hamburger-menu .menu-item p {
  margin: 0;
  padding: 1.25rem;
}
.hamburger-menu .menu-item p a {
  padding: 1.25rem;
}
.hamburger-menu .menu-item p a:hover {
  text-decoration: none;
  border: none;
}
.hamburger-menu .menu-item.blue {
  background-color: #333333;
}
.hamburger-menu .menu-item.blue a {
  color: #ffffff;
}
.error {
  color: #ea4b4b;
}
nav a {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #333333;
}
nav a:visited {
  color: #333333;
}
nav a svg {
  stroke: #333333;
  transition: stroke 0.125s;
}
@media screen and (min-width: 768px) {
  header {
    width: 100%;
    background-color: #ffffff;
  }
  header .large-container .main-nav {
    position: absolute;
    top: 1.9375rem;
    left: 2.5rem;
  }
  header .large-container .main-nav li {
    display: inline-block;
    margin-left: 2rem;
    font-weight: bold;
  }
  header .large-container .main-nav li:first-child {
    margin: 0;
  }
  header .large-container .main-nav li a {
    transition: all 0.124s;
    border-bottom: 1px solid #ffffff;
  }
  header .large-container .main-nav li a:hover {
    color: #565e66;
  }
  header .large-container .logo-container {
    width: 201.5px;
    height: 44.3px;
    margin: 24.5px auto;
  }
  header .large-container .logo-container a {
    fill: #333333;
  }
  header .large-container .logo-container a svg {
    width: 201.5px;
    height: 44.3px;
  }
  header .large-container .logo-container a:hover {
    border: none;
  }
  header .large-container .small-logo-container {
    width: 50px;
    height: 35.08px;
    margin: 29px auto;
  }
  header .large-container .small-logo-container a {
    fill: #333333;
  }
  header .large-container .small-logo-container a svg {
    width: 50px;
    height: 35.08px;
  }
  header .large-container .small-logo-container a:hover {
    border: none;
  }
  header .large-container .auth {
    position: absolute;
    right: 2.5rem;
    top: 1.75rem;
  }
  header .large-container .auth a {
    margin-left: 0.8rem;
  }
}
@media screen and (max-width: 767px) {
  header {
    width: 100%;
    background-color: #ffffff;
  }
  header .large-container {
    overflow: auto;
  }
  header .large-container .hamburger {
    position: absolute;
    top: 7px;
    left: 8px;
    height: 34px;
    width: 34px;
  }
  header .large-container .hamburger svg {
    stroke: #333333;
    height: 34px;
    width: 34px;
  }
  header .large-container .small-logo-container {
    width: 36px;
    height: 32px;
    margin: 10px auto;
  }
  header .large-container .small-logo-container a {
    fill: #333333;
  }
  header .large-container .small-logo-container a svg {
    width: 36px;
    height: 32px;
  }
  header .large-container .small-logo-container a:hover {
    border: none;
  }
  header .large-container .auth {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
  }
}
a.onpage {
  border-bottom: 1px solid #333333 !important;
}
header {
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 5;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
}
header .large-container {
  overflow: auto;
}
.drop-shadow-bottom {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .footer-nav .medium-container {
    margin: 5rem auto 3rem auto;
  }
}
@media screen and (max-width: 767px) {
  .footer-nav .medium-container {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 2.5rem auto;
    padding: 0 1.5rem;
  }
  .footer-nav .medium-container .forth.column.padding {
    width: 50%;
    padding: 0.5rem 0;
  }
}
.footer-nav {
  padding: 1px;
  background-color: rgb(245, 245, 245);
  color: #98a7b4;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.footer-nav a {
  color: #98a7b4;
}
.footer-nav a:visited {
  color: #98a7b4;
}
.footer-nav a svg {
  stroke: #98a7b4;
  transition: stroke 0.125s;
}
.footer-nav .medium-container .footer-logo {
  height: 3.125rem;
  width: 3.125rem;
  fill: #98a7b4;
  path: #98a7b4;
}
.footer-nav .medium-container ul li:first-child {
  color: #565e66;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.footer-nav .medium-container ul li:first-child a:hover,
.footer-nav .medium-container ul li:first-child:hover {
  color: #565e66;
}
.footer-nav .medium-container ul li a:hover,
.footer-nav .medium-container ul li:hover {
  color: #565e66;
  border: none;
}
footer,
.push {
  height: 3.6875rem;
}
footer {
  background-color: rgb(245, 245, 245);
  text-align: center;
  color: #c9d3dc;
}
footer p {
  vertical-align: middle;
  margin: 0;
  padding-top: 0.9375rem;
}
footer p .footer-logo {
  width: 1.875rem;
  height: 1.875rem;
  fill: #98a7b4;
  path: #98a7b4;
  margin-right: 1rem;
}
footer a {
  color: #c9d3dc;
}
footer a:visited {
  color: #c9d3dc;
}
footer a svg {
  stroke: #c9d3dc;
  transition: stroke 0.125s;
}
footer a:hover {
  border: none;
  color: #98a7b4;
}
.list li {
  padding: .2rem 0;
}
.check-icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-top: -3px;
  vertical-align: middle;
}
section h1,
section h2,
section h3 {
  text-align: center;
}
section h3 {
  font-size: 1.625rem;
}
section h4,
section p {
  margin: 0;
}
section .list {
  text-align: left;
}
@media screen and (max-width: 767px) {
  section {
    padding: 3rem 0;
  }
  section h1,
  section h2,
  section h3 {
    font-size: 1.625rem;
  }
  section h1,
  section h2,
  section h3,
  section h4 {
    margin: 0 2rem 2rem 2rem;
  }
}
@media screen and (min-width: 768px) {
  section {
    padding: 5rem 0;
  }
  section h1,
  section h2,
  section h3,
  section h4 {
    margin: 0 0 2rem 0;
  }
}
section.grey {
  background-color: rgb(245, 245, 245);
  text-align: center;
  color: #565e66;
}
section.grey h3 {
  color: #31383e;
}
section.blue {
  background-color: #333333;
  text-align: center;
  color: #ffffff;
}
section.blue h2 {
  color: #ffffff;
}
section.white {
  background-color: #ffffff;
  color: #565e66;
}
section.white h3 {
  color: #31383e;
}
section.light-border-grey {
  background-color: #ecf1f5;
  color: #565e66;
}
section.light-border-grey h3 {
  color: #31383e;
}
#intercom-launcher .intercom-launcher-button {
  background-color: #333333 !important;
  border: none !important;
}
.image-container {
  width: 17.875rem;
  height: 17.875rem;
  background-size: 17.875rem 17.875rem;
  background-repeat: no-repeat;
}
.products.image-container {
  background-image: url('../img/products.png');
}
.templates.image-container {
  background-image: url('../img/templates.png');
}
.analytics.image-container {
  background-image: url('../img/analytics.png');
}
.feature,
.integration {
  text-align: center;
}
.feature h3,
.integration h3 {
  margin: 0;
}
.feature h3 svg,
.integration h3 svg {
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 0.25rem 0.25rem 0;
}
.feature .divider,
.integration .divider {
  width: 12.5rem;
  height: 0.25rem;
  background-color: #333333;
  margin: 0 auto 2.5rem auto;
}
.feature .more,
.integration .more {
  color: #333333;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 0 0 0.15rem 0;
  border-bottom: 1px solid #333333;
  display: inline-block;
}
p.large-mid-grey {
  color: #98a7b4;
  font-size: 1.5rem;
}
.main.auth {
  background-color: rgb(245, 245, 245);
}
.main.auth header {
  background-color: #333333;
}
.main.auth header .large-container .logo-container {
  width: 245.49px;
  height: 44px;
  margin: 25px auto;
}
.main.auth header .large-container .logo-container a {
  fill: #ffffff;
}
.main.auth header .hamburger svg {
  stroke: #ffffff;
}
.main.auth form {
  width: 18rem;
  margin: 3.25rem auto 0 auto;
}
.main.auth form p {
  text-align: center;
}
.main.auth .support h3 {
  color: #98a7b4;
  font-size: 1.5rem;
  margin: 0;
  font-weight: bold;
}
.main.auth .support p {
  text-align: center;
  margin: 1rem 0 0 0;
  font-size: 1rem;
}
@media screen and (max-width: 767px) {
  .main.auth header .large-container .small-logo-container a {
    fill: #ffffff;
  }
}
.fade-out {
  transition: 0.2s;
  opacity: 0 !important;
  pointer-events: none !important;
}
.fade-in {
  transition: 0.2s;
  opacity: 1 !important;
  pointer-events: all !important;
}
.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.auth h1 {
  margin: 0;
  font-size: 2.25rem;
}
.auth h3 {
  margin: .25rem 0 0 0;
  font-size: 1.5rem;
  color: #c9d3dc;
  font-weight: normal;
}
.auth h4 {
  margin: .5rem 0 0 0;
  font-size: 1rem;
  color: #98a7b4;
  text-align: center;
  font-weight: normal;
}
.hover-container {
  position: relative;
  display: inline-block;
  text-align: center;
}
.hover-container .hover {
  cursor: pointer;
  color: #333333;
  border-bottom: 1px solid #333333;
  transition: all 0.125s;
}
.hover-container .hover:hover {
  color: #565e66;
  border-bottom: 1px solid #565e66;
}
.hover-container .hover:hover ~ .features-popup {
  display: block;
  cursor: auto;
}
.integrations {
  text-align: center;
}
.features-content .card.visible {
  z-index: 1;
}
.features-content .card.invisible {
  z-index: 0;
}
@media screen and (max-width: 767px) {
  .hover-container .features-popup {
    left: 0;
    top: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .hover-container .features-popup {
    left: 3.75rem;
  }
}
.features-list .feature-item,
.features-list li {
  position: relative;
  padding-left: 2rem;
}
.features-list .feature-item svg,
.features-list li svg {
  position: absolute;
  left: 0;
  top: 0.375rem;
}
.features-list .feature-item .features-question,
.features-list li .features-question {
  position: relative;
  color: #333333;
  cursor: pointer;
  padding-right: 0.7rem;
}
.features-list .feature-item .features-question:hover,
.features-list li .features-question:hover {
  color: #565e66;
}
.features-list .feature-item .features-question:hover .features-popup,
.features-list li .features-question:hover .features-popup {
  display: block;
  color: #565e66;
  cursor: auto;
}
.features-popup {
  display: none;
  left: 0.75rem;
  top: 0;
  list-style: none;
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 0.25rem 1.5rem 0.25rem 0.75rem;
  color: #565e66;
}
.features-popup:hover {
  color: #565e66;
  cursor: auto;
}
@media screen and (max-width: 767px) {
  .features-list {
    padding: 0 1rem;
    margin: 0 auto;
  }
}
.header-shadow {
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
}
section.support {
  text-align: middle;
}
section.support h2 {
  font-size: 1.625rem;
  color: #98a7b4;
  margin: 0 0 1rem 0;
}
section.support p {
  text-align: center;
  margin: 0;
}
@media screen and (max-width: 767px) {
  section.support h2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
#conversionPixel {
  position: absolute;
  height: 1px;
  width: 1px;
}
section.webinar-banner {
  background: url('../img/webinar-landing-image.png') no-repeat center;
  background-size: cover;
  background-color: #7B8893;
  width: 100%;
  border-bottom: 2px solid #ffffff;
  height: 35.0625rem;
}
section.webinar-banner h1,
section.webinar-banner h2,
section.webinar-banner h3,
section.webinar-banner h4,
section.webinar-banner p {
  color: #ffffff;
  text-align: left;
}
section.webinar-banner h2 {
  font-size: 4rem;
  line-height: 4rem;
  margin: 0;
}
section.webinar-banner h3 {
  margin: 0.375rem 0 1rem 0;
}
section.webinar-banner h3.mobile {
  margin: 0.375rem 0 0 0;
}
section.webinar-banner p {
  font-size: 1.5rem;
  margin: 1rem 0;
  line-height: 1.875rem;
}
section.webinar-banner p.webinar-button {
  margin: 1.5rem 0;
}
section.webinar-banner p.bonus {
  font-size: 1.25rem;
}
section.webinar-banner .white-headline {
  color: #333333;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}
@media screen and (min-width: 1024px) {
  section.webinar-banner {
    padding: 5rem 0 7rem 0;
  }
  section.webinar-banner .container {
    max-width: 44rem;
    padding-left: 28.875rem;
  }
  section.webinar-banner .container .graphics.column {
    float: left;
    width: 28.875rem;
    margin-left: -28.875rem;
    padding-left: 2.25rem;
  }
  section.webinar-banner .container .graphics.column img {
    height: 30.4375rem;
    width: 28.875rem;
  }
  section.webinar-banner .container .copy.column {
    width: 100%;
    float: right;
    padding: 0 2.25rem 0 4rem;
  }
}
@media screen and (max-width: 1200px) and (min-width: 1024px) {
  section.webinar-banner h2 {
    font-size: 3rem;
    line-height: 3rem;
  }
}
@media screen and (max-width: 1100px) and (min-width: 1024px) {
  section.webinar-banner h3 .white-headline {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  section.webinar-banner {
    padding: 3rem 0;
    height: auto;
  }
  section.webinar-banner h1,
  section.webinar-banner h2,
  section.webinar-banner h3,
  section.webinar-banner h4,
  section.webinar-banner p {
    text-align: center;
  }
  section.webinar-banner .container {
    width: 100%;
  }
  section.webinar-banner .container .graphics.column {
    float: none;
    margin: 0 auto;
    text-align: center;
  }
  section.webinar-banner .container .graphics.column img {
    height: 15.21875rem;
    width: 14.4375rem;
  }
  section.webinar-banner .container .copy.column {
    margin-top: 3rem;
    float: none;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  section.webinar-banner {
    padding: 3rem 0;
    height: auto;
  }
  section.webinar-banner h1,
  section.webinar-banner h2,
  section.webinar-banner h3,
  section.webinar-banner h4,
  section.webinar-banner p {
    text-align: center;
  }
  section.webinar-banner h2 {
    font-size: 3rem;
    line-height: 3rem;
    margin: 2rem 0;
  }
  section.webinar-banner .container {
    width: 100%;
  }
  section.webinar-banner .container .graphics.column {
    float: none;
    margin: 0 auto;
    text-align: center;
  }
  section.webinar-banner .container .graphics.column img {
    height: 15.21875rem;
    width: 14.4375rem;
  }
  section.webinar-banner .container .copy.column {
    margin-top: 3rem;
    float: none;
    width: 100%;
  }
  section.webinar-banner .container .copy.column p {
    font-size: 1.25rem;
    margin: 1rem;
  }
  section.webinar-banner .container .copy.column p.webinar-button {
    font-size: 1rem;
    margin: 0 1rem;
  }
  section.webinar-banner .container .copy.column p.webinar-button a {
    display: block;
  }
}
.banner {
  width: 100%;
}
.banner:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 1023px) {
  .banner-img {
    width: 100%;
  }
  .banner-img h2,
  .banner-img p {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .banner {
    height: 31rem;
  }
  .banner:after {
    content: "";
    display: table;
    clear: both;
  }
  .banner .banner-side {
    width: 30%;
  }
  .banner-img {
    height: 31rem;
  }
  .banner-img .container {
    margin: 5.5rem;
  }
  .banner-img .container h2 {
    font-size: 4rem;
    line-height: 4rem;
  }
  .banner-img .container p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .banner-img .container {
    padding: 3rem 1rem;
  }
  .banner-img .container h2 {
    font-size: 3rem;
    line-height: 3rem;
    margin: 1rem;
  }
  .banner-img .container p {
    font-size: 1.25rem;
    margin: 1rem;
  }
  .banner-img .container p.signup-button {
    margin: 0;
  }
  .banner-img .container p.signup-button a {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .banner-img {
    width: 70%;
  }
}
@media screen and (min-width: 1024) and (max-width: 1199px) {
  .banner-img .container h2 {
    width: 30rem;
  }
  .banner-img .container p {
    width: 30rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .banner-img .container h2 {
    width: 33rem;
  }
  .banner-img .container p {
    width: 41rem;
  }
}
@media screen and (min-width: 1400px) {
  .banner {
    background: url('../img/header.png') no-repeat center;
    background-size: cover;
    background-color: #7B8893;
  }
  .banner .responsive-wrapper {
    position: relative;
    max-width: 68.5rem;
    margin: 0 auto;
  }
  .banner .responsive-wrapper .banner-img {
    background: transparent;
  }
  .banner .responsive-wrapper .banner-img .container {
    margin-left: 0;
    margin-right: 9rem;
  }
  .banner .responsive-wrapper .banner-side {
    position: absolute;
    width: 23.875rem;
    right: 0;
  }
}
.banner-img {
  float: left;
  background: url('../img/header.png') no-repeat center;
  background-size: cover;
  background-color: #7B8893;
}
.banner-img .container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.banner-img .container h2 {
  font-weight: 200;
  color: #ffffff;
  margin: 0;
}
.banner-img .container p {
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .banner-side {
    padding: 5.5rem 1rem;
  }
  .banner-side hr {
    margin: 0 1rem;
  }
  .banner-side .pricing-button a {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .banner-side {
    padding: 5.5rem 0;
  }
}
.banner-side {
  float: left;
  height: 31rem;
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.banner-side h3 {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
}
.banner-side h2 {
  font-size: 5rem;
  line-height: 5rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  margin: 0 0 2rem 0;
}
.banner-side p {
  margin: 1.5rem;
  font-size: 1.25rem;
}
.banner-side p.pricing-button {
  margin: 2.5rem 0;
}
.carousel {
  position: relative;
  width: 100%;
  height: 10.25rem;
  background-color: #ecf1f5;
}
.carousel .slide-container {
  position: relative;
  width: 57.5rem;
  height: 10.25rem;
  margin: 0 auto;
}
.carousel .slide-container .slide {
  width: 46rem;
  margin: 0 auto;
  padding: 1.875rem 0;
}
.carousel .slide-container .slide:after {
  content: "";
  display: table;
  clear: both;
}
.carousel .slide-container .slide .quote-icon {
  float: left;
}
.carousel .slide-container .slide .quote-icon svg {
  fill: #333333;
  height: 2.9375rem;
  width: 2.9375rem;
}
.carousel .slide-container .slide .avatar {
  width: 4.4375rem;
  height: 4.4375rem;
  margin: 0.75rem 1.5rem 0 0;
  float: left;
  background-color: #333333;
  background-size: 4.4375rem 4.4375rem;
  background-repeat: no-repeat;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.carousel .slide-container .slide .testimonial {
  float: left;
  width: 37rem;
}
.carousel .slide-container .slide .testimonial h3 {
  font-size: 26px;
  color: #31383e;
  display: inline-block;
  margin: 0;
}
.carousel .slide-container .slide .testimonial .business {
  font-size: 16px;
  color: #98a7b4;
  display: inline-block;
  margin: 0 0 0 .5rem;
  text-transform: uppercase;
}
.carousel .slide-container .slide .testimonial .quote {
  font-size: 1.25rem;
  color: #565e66;
  margin: 0;
}
.carousel .slide-container .slide-one .avatar {
  background-image: url('../img/samcart-test-lewis.png');
}
.carousel .slide-container .slide-two .avatar {
  background-image: url('../img/samcart-test-rock.png');
}
.carousel .slide-container .slide-three .avatar {
  background-image: url('../img/samcart-test-dunlop.png');
}
.carousel .slide-container .arrow {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  position: absolute;
  cursor: pointer;
  top: 4rem;
}
.carousel .slide-container .arrow svg {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  stroke: #c9d3dc;
}
.carousel .slide-container .arrow:hover svg {
  stroke: #565e66;
}
.carousel .slide-container .left-arrow {
  left: 0;
}
.carousel .slide-container .right-arrow {
  right: 0;
}
.mobile-tablet .carousel {
  height: 31rem;
}
.mobile-tablet .carousel .slide-container {
  width: 16rem;
  height: 30.9375rem;
  margin: 0 auto;
}
.mobile-tablet .carousel .slide-container .arrow {
  top: 11.5rem;
}
.mobile-tablet .carousel .slide-container .left-arrow {
  left: -2rem;
}
.mobile-tablet .carousel .slide-container .right-arrow {
  right: -2rem;
}
.mobile-tablet .carousel .slide-container .slide {
  width: 16rem;
  left: 0 !important;
  padding: 5rem 0;
}
.mobile-tablet .carousel .slide-container .slide .quote-icon {
  text-align: center;
  float: none;
}
.mobile-tablet .carousel .slide-container .slide .avatar {
  text-align: center;
  float: none;
  margin: 0.75rem auto 0 auto;
}
.mobile-tablet .carousel .slide-container .slide .testimonial {
  width: 16rem;
}
.mobile-tablet .carousel .slide-container .slide .testimonial .name,
.mobile-tablet .carousel .slide-container .slide .testimonial .business {
  margin: 0.5rem;
  display: block;
  text-align: center;
}
@media screen and (min-width: 768px) {
  section .container .features-menu li {
    font-size: 1.625rem;
  }
  section .container .features-content .card {
    margin-top: 2.5rem;
    width: 600px;
    margin-right: -600px;
  }
}
@media screen and (max-width: 767px) {
  section h2 {
    font-size: 1.5rem;
  }
  section .container .features-menu li {
    font-size: 1.25rem;
  }
  section .container .features-content {
    width: 288px;
    margin: 0 auto;
  }
  section .container .features-content:after {
    content: "";
    display: table;
    clear: both;
  }
  section .container .features-content .card {
    width: 288px;
    margin-right: -288px;
    margin-top: 1.5rem;
  }
  section .container .features-content .card .column {
    float: none;
  }
  section .container .features-content .card .column.list {
    width: 17.875rem;
  }
  .image-container {
    margin: 0 auto;
  }
  section.feature .column.list {
    margin: 1.5rem auto 0 auto;
  }
}
section {
  margin: 0 auto;
}
section h2 {
  text-align: center;
}
section svg {
  stroke: #333333;
}
section .container {
  max-width: 37.5rem;
}
section .container .features-menu {
  width: 100%;
  white-space: nowrap;
}
section .container .features-menu li {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  width: 32.8%;
  display: inline-block;
  text-align: center;
  padding-bottom: .5rem;
  color: #c9d3dc;
  white-space: normal;
}
section .container .features-menu li:hover {
  color: #565e66;
}
section .container .features-menu li.active {
  color: #31383e;
}
section .container .features-content {
  position: relative;
}
section .container .features-content .card {
  position: relative;
  float: left;
}
section .container .features-content .card:after {
  content: "";
  display: table;
  clear: both;
}
section .container .features-content .card .list {
  padding-left: 1rem;
}
section .container .features-content .card .list li {
  color: #565e66;
  margin: 0 0 0.5rem 0;
}
section .container .features-content .card .list li > * {
  vertical-align: middle;
}
section .menu-bar {
  position: relative;
  background-color: #ecf1f5;
  margin: 0;
  padding: 0;
  width: 100%;
  height: .25rem;
}
section .menu-bar .highlight {
  width: 33%;
  position: absolute;
  top: 0;
  background-color: #333333;
  height: .25rem;
  transition-property: left;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}
@media screen and (max-width: 767px) {
  section.calculator {
    padding: 3rem 1rem;
  }
  section.calculator .button {
    display: block;
  }
}
section.calculator h3 {
  font-size: 1.625rem;
  margin: 0 0 .5rem 0;
}
section.calculator p {
  font-size: 1rem;
  font-weight: 200;
}
section.calculator .button {
  margin-top: 2rem;
}
.slide {
  opacity: 1;
  position: absolute;
  left: 6rem;
}
.slide.invisible {
  opacity: 0;
}
.slide.visible {
  opacity: 1;
}
.card.invisible {
  opacity: 0;
}
.card.visible {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .slide.fade-out-right {
    transition-property: all;
    transition-duration: 0.20s;
    transition-timing-function: ease-in-out;
    transform: translate(6.25rem, 0);
    opacity: 0;
  }
  .slide.fade-out-left {
    transition-property: all;
    transition-duration: 0.20s;
    transition-timing-function: ease-in-out;
    transform: translate(-4.25rem, 0);
    opacity: 0;
  }
  .slide.fade-in {
    transition-property: all;
    transition-duration: 0.20s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.10s;
    transform: translate(0, 0);
    opacity: 1;
  }
  .slide.position-right {
    transition-property: all;
    transition-duration: 0s;
    transform: translate(4.25rem, 0);
    opacity: 0;
  }
  .slide.position-left {
    transition-property: all;
    transition-duration: 0s;
    transform: translate(-6.25rem, 0);
    opacity: 0;
  }
}
@media screen and (max-width: 767px) {
  .slide.fade-out-right {
    transition-property: all;
    transition-duration: 0.20s;
    transition-timing-function: ease-in-out;
    opacity: 0;
  }
  .slide.fade-out-left {
    transition-property: all;
    transition-duration: 0.20s;
    transition-timing-function: ease-in-out;
    opacity: 0;
  }
  .slide.fade-in {
    transition-property: all;
    transition-duration: 0.20s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.10s;
    opacity: 1;
  }
  .slide.position-right {
    transition-property: all;
    transition-duration: 0s;
    opacity: 0;
  }
  .slide.position-left {
    transition-property: all;
    transition-duration: 0s;
    opacity: 0;
  }
}
.highlight.left {
  left: 0;
}
.highlight.middle {
  left: 33.3333%;
}
.highlight.right {
  left: 66.6666%;
}
@media screen and (max-width: 767px) {
  .image-row .integration-container {
    display: block;
    margin: 1rem auto;
  }
}
@media screen and (min-width: 768px) {
  .image-row .integration-container {
    display: inline-block;
    margin: 0 1rem;
  }
}
.image-row {
  text-align: center;
  margin-bottom: 3rem;
}
.image-row .integration-container * {
  vertical-align: middle;
}
.image-row .integration-container {
  vertical-align: middle;
  height: 100px;
}
.image-row .integration-container .stripe {
  margin-top: 28px;
  height: 58px;
  width: 140px;
}
.image-row .integration-container .paypal {
  margin-top: 28px;
  height: 50px;
  width: 205px;
}
.image-row .integration-container .wishlistmember {
  margin-top: 28px;
  height: 42px;
  width: 105px;
}
.image-row .integration-container .optimizepress {
  margin-top: 28px;
  height: 47px;
  width: 242px;
}
.image-row .integration-container .aweber {
  margin-top: 28px;
  height: 39px;
  width: 186px;
}
.image-row .integration-container .mailchimp {
  height: 99px;
  width: 99px;
}
.image-row .integration-container .infusionsoft {
  margin-top: 28px;
  height: 36px;
  width: 195px;
}
.faq h4 {
  margin: 0;
}
@media screen and (max-width: 767px) {
  .faq h4 {
    margin: 0 2rem;
  }
  .faq p {
    margin: 0 2rem 2rem 2rem;
  }
  .faq p:last-child {
    margin-bottom: 2rem;
  }
}
.price {
  color: #333333;
  font-size: 7rem;
  text-align: center;
  margin: 0;
  font-weight: bold;
}
.price-per-month {
  color: #98a7b4;
  text-transform: lowercase;
  font-weight: bold;
  font-size: 26px;
  margin: -1rem 0 1.5rem 0;
}
.price-headline {
  color: #565e66;
}
@media screen and (min-width: 768px) {
  .price-headline {
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .price-headline {
    margin: 0 2rem;
  }
}
.big-switch {
  display: inline-block;
}
.team-header h1 {
  margin: 0;
  font-weight: 200;
}
.team-header p {
  margin: 1rem 0 1.5rem 0;
}
.team-header .button {
  margin: 1rem 0 0 0;
}
.team .large-container:after {
  content: "";
  display: table;
  clear: both;
}
.team .large-container .member-container {
  float: left;
  text-align: center;
  height: 20.125rem;
}
.team .large-container .member-container .member {
  width: 10.3125rem;
  margin: 0 auto;
}
.team .large-container .member-container .member img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  height: 10.3125rem;
  width: 10.3125rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  border-radius: 1.25rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.team .large-container .member-container .member img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.team .large-container .member-container .member .name {
  margin: 0.5rem 0 0 0;
  font-size: 1.4rem;
  color: #31383e;
}
.team .large-container .member-container .member .title {
  margin: 0.125rem 0 0 0;
  font-size: 0.9rem;
  color: #98a7b4;
  text-transform: uppercase;
  line-height: 1.2rem;
}
section.team {
  padding-bottom: 0;
}
@media screen and (max-width: 767px) {
  .team-header h1 {
    margin: 0 2rem 1rem 2rem;
  }
  .team-header p {
    margin: 1rem 2rem 1.5rem 2rem;
  }
}
@media screen and (max-width: 499px) {
  .member-container {
    width: 100%;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  .member-container {
    width: 50%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .member-container {
    width: 33%;
  }
}
@media screen and (min-width: 1024px) {
  .member-container {
    width: 20%;
  }
}
.fb-video {
  margin: 3.25rem 0 0 0;
}
.careers-header h1 {
  margin-bottom: 1rem;
}
.careers-header p {
  margin-bottom: 2rem;
}
.careers.white .medium-container h2 {
  margin: 0 0 2rem;
}
.careers.white .medium-container h4 {
  margin: 0;
}
.careers.white .medium-container p {
  margin: 0.5rem 0 0 0;
  color: #98a7b4;
}
.jobs h2 {
  margin: 0 0 2rem 0;
  font-size: 1.625rem;
  color: #98a7b4;
}
.job-card {
  width: 100%;
  background-color: #ffffff;
  padding: 1.5rem;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.job-card h4 {
  font-size: 1.25rem;
  color: #98a7b4;
  margin: 0;
  font-weight: 200;
}
.job-card p {
  margin: .25rem 0 1.5rem 0;
  font-size: 1rem;
  color: #565e66;
}
.job-card:first-child {
  margin-top: 0;
}
.job-card:last-child {
  margin-bottom: 0;
}
.careers svg.check-icon {
  margin-right: 5px;
}
.jobs h2 {
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .video-container {
    padding: 0 1rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .careers-header h1 {
    margin: 0 2rem 1rem 2rem;
  }
  .careers-header p {
    font-size: 1rem;
    margin: 1rem 2rem 1.5rem 2rem;
  }
  .careers.white .medium-container h2 {
    margin: 0 2rem 2.5rem 2rem;
  }
  .careers.white .medium-container .column {
    margin: 1rem 0;
  }
  .careers.white .medium-container .row {
    margin: 0 2rem;
  }
  .jobs .small-container {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 1rem;
  }
}
.small-container.terms h4,
.small-container.terms p {
  text-align: left;
  margin: 0.5rem 0;
}
.small-container.terms p {
  color: #98a7b4;
  margin-bottom: 1.75rem;
}
@media screen and (max-width: 767px) {
  .small-container.terms h4,
  .small-container.terms p {
    text-align: left;
    margin: 0.5rem 2rem;
  }
  .small-container.terms p {
    color: #98a7b4;
    margin-bottom: 1.75rem;
  }
}
.promote.small-container h1 {
  line-height: 3.125rem;
}
.promote.small-container p {
  color: #98a7b4;
}
.promote.small-container .button-container {
  margin: 2rem 0 0 0;
}
.promote.container {
  width: 57.5rem;
  color: #565e66;
}
.promote.container h4 {
  margin-bottom: 0;
  font-weight: bold;
  color: #31383e;
}
.promote.container p {
  margin-top: 0;
}
.login {
  padding: 3rem 0;
}
.login h3 a {
  text-decoration: underline;
  color: #c9d3dc;
}
.login h3 a:visited {
  color: #c9d3dc;
}
.login h3 a svg {
  stroke: #c9d3dc;
  transition: stroke 0.125s;
}
.login .login-start:hover {
  color: #98a7b4;
  border-bottom: none;
}
.login .container {
  width: 18rem;
  padding: 0;
  margin: 0 auto;
  position: relative;
}
.login .container .choose {
  position: absolute;
  width: 18rem;
  top: 0;
  left: 0;
  border: 1px solid #c9d3dc;
  background-color: #ffffff;
  opacity: 0;
  pointer-events: none;
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  border-radius: 0.1875rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.login .container .choose ul li {
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9375rem;
  border-bottom: 2px solid #ecf1f5;
  padding: .25rem 1rem;
}
.login .container .choose ul li a {
  color: #565e66;
}
.login .container .choose ul li a:visited {
  color: #565e66;
}
.login .container .choose ul li a svg {
  stroke: #565e66;
  transition: stroke 0.125s;
}
.login .container .choose ul li a:hover {
  border: none;
}
.login .container .choose ul li:hover {
  background-color: #ecf1f5;
}
.login .container .choose ul li:active {
  background-color: #c9d3dc;
}
.login .container .choose ul li:last-child {
  border: none;
}
.auth .light-border-grey {
  padding: 2rem 0;
}
.login-show {
  display: block;
}
.choose-show {
  display: none;
}
.login-error {
  position: absolute;
  top: -50px;
  left: 0;
  text-align: center;
  opacity: 1;
  width: 100%;
  pointer-events: none;
  color: #ea4b4b;
}
.login-error h4 {
  color: #ea4b4b;
}
.login form p,
.upgrade form p {
  color: #98a7b4;
}
@media screen and (max-width: 767px) {
  .login h1 {
    font-size: 1.5rem;
    margin: 0 2rem;
  }
  .login h3 {
    font-size: 1rem;
    margin: 0 2rem;
  }
}
.fill {
  fill: #98a7b4;
}
.cards {
  text-align: center;
  margin: -2px 0 0 0;
}
.cards svg {
  border-radius: 0.1875rem;
  width: 35px;
  height: 24px;
  stroke: none;
  vertical-align: middle;
  margin-right: 5px;
}
.cards svg:last-child {
  margin-right: 0;
}
#update_cc_form,
#signup_form {
  position: relative;
}
#update_cc_form .half.column.input,
#signup_form .half.column.input {
  width: 136px;
  margin: 0 0.5rem;
}
#update_cc_form .half.column.input .highlight,
#signup_form .half.column.input .highlight {
  width: 140px;
}
#update_cc_form .half.column.input:first-child,
#signup_form .half.column.input:first-child {
  margin-left: 0;
}
#update_cc_form .half.column.input:last-child,
#signup_form .half.column.input:last-child {
  margin-right: 0;
}
#update_cc_form .submit,
#signup_form .submit {
  margin-top: 1rem;
}
#update_cc_form .cc-num,
#signup_form .cc-num {
  letter-spacing: 0.5px;
}
#update_cc_form .signup-error,
#signup_form .signup-error {
  position: absolute;
  width: 100%;
  top: -3.5rem;
  left: 0;
  height: 3.5rem;
}
#update_cc_form .signup-error h4,
#signup_form .signup-error h4 {
  width: 100%;
  margin: 0;
  font-weight: bold;
  text-align: center;
  color: #ea4b4b;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#update_cc_form .signup-error > *,
#signup_form .signup-error > * {
  vertical-align: middle;
}
.terms {
  color: #98a7b4;
}
.terms input {
  margin: -3px 0.5rem 0 1px;
}
.signup.carousel {
  background-color: #ecf1f5;
}
.signup .step2 {
  position: relative;
  max-width: 16rem;
  margin: 0 auto;
}
.signup .step2 form {
  position: absolute;
  top: 0;
  left: 0;
  width: 16rem;
}
section.signup {
  padding: 2rem 0;
}
section.signup .signup-container {
  position: relative;
  width: 50rem;
  margin: 0 auto;
}
section.signup .signup-container:after {
  content: "";
  display: table;
  clear: both;
}
section.signup .signup-container .signup-form {
  float: left;
}
section.signup .signup-container .bump {
  float: right;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-top: 3.25rem;
  width: 477px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
}
section.signup .signup-container .bump h3 {
  font-size: 1.25rem;
  line-height: 1.2;
  color: #565e66;
  text-align: left;
}
section.signup .signup-container .bump p {
  color: #565e66;
  font-size: 1rem;
  line-height: 1.4;
}
section.signup .signup-container .bump .graphic-pitch {
  margin-top: 1rem;
}
section.signup .signup-container .bump .graphic-pitch:after {
  content: "";
  display: table;
  clear: both;
}
section.signup .signup-container .bump .graphic-pitch .graphic {
  float: left;
  width: 147px;
  height: 148px;
  background-image: url('../img/orderbump.png');
  background-size: 147px 148px;
}
section.signup .signup-container .bump .graphic-pitch .pitch {
  margin-left: 158px;
}
section.signup .signup-container .bump .graphic-pitch .pitch .price {
  font-size: 2.25rem;
  line-height: 1.2;
  color: #333333;
  text-align: left;
}
section.signup .signup-container .bump .graphic-pitch .pitch .price .strike-through {
  vertical-align: top;
  text-decoration: line-through;
  font-size: 1.5rem;
  line-height: 1.8;
  color: #c9d3dc;
}
section.signup .signup-container .bump .graphic-pitch .pitch p {
  font-size: 14px;
  line-height: 1.4;
  color: #98a7b4;
}
section.signup .signup-container .bump .input {
  text-align: center;
  width: 100%;
  margin-bottom: 0;
}
section.signup .signup-container .bump .input a {
  width: 100%;
}
section.signup .signup-container .bump .input a svg {
  margin: 0;
}
section.signup h3 {
  max-width: 37.5rem;
  margin: 0 auto;
}
.no-top-margin {
  margin-top: 0;
}
#marketplace_form {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 5;
}
#marketplace_form .input.first {
  margin-top: 0;
}
#marketplace_form.show {
  display: block;
  top: 2.75rem;
}
#marketplace_form .signup-error {
  position: absolute;
  width: 100%;
  top: -3.5rem;
  left: 0;
  height: 3.5rem;
}
#marketplace_form .signup-error h4 {
  width: 100%;
  margin: 0;
  font-weight: bold;
  text-align: center;
  color: #ea4b4b;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#marketplace_form .signup-error > * {
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  section.signup h1 {
    font-size: 1.5rem;
  }
  section.signup h3 {
    font-size: 1rem;
  }
  section.signup h1,
  section.signup h2,
  section.signup h3,
  section.signup h4 {
    width: 16rem;
    margin: 0 auto;
  }
  section.signup .signup-container {
    width: auto;
  }
  section.signup .signup-container .signup-form {
    float: none;
  }
  section.signup .signup-container .bump {
    margin: 3.25rem 1rem;
    float: none;
    width: auto;
  }
  section.signup .signup-container .bump h3 {
    width: auto;
  }
}
.grey-scale {
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  opacity: 0.8;
}
section.signup.go .signup-container {
  width: 18rem;
}
.signup.go .container {
  max-width: 50rem;
}
.signup.go .container .go-copy {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 2rem 2rem 0 0;
  max-width: 30rem;
}
.signup.go .container .go-copy .bullet {
  margin-bottom: 1.5rem;
}
.signup.go .container .go-copy .bullet div {
  position: relative;
}
.signup.go .container .go-copy .bullet svg {
  position: absolute;
  left: 0rem;
  top: 6px;
  stroke: #333333;
}
.signup.go .container .go-copy .bullet h4 {
  text-align: left;
  font-size: 1.25rem;
  color: #565e66;
  margin: 0;
  padding-left: 2rem;
  font-weight: bold;
}
.signup.go .container .go-copy .bullet h4 span {
  letter-spacing: 1px;
  font-weight: bold;
}
.signup.go .container .go-copy .bullet h4 span span {
  letter-spacing: normal;
  font-weight: normal;
}
.signup.go .container .go-copy .bullet p {
  font-size: 1rem;
  color: #565e66;
  margin: 0;
  padding-left: 2rem;
}
.signup.go .container .signup-container .signup-error {
  top: -2.5rem !important;
  height: 2.5rem !important;
}
.signup.go .container .signup-container h3 {
  color: #333333;
  font-size: 1.625rem;
  margin-top: 2rem;
}
.signup.go .container .signup-container form {
  margin: 1.75rem auto 0 auto;
}
.signup.go .container .signup-container form p {
  color: #98a7b4;
}
.signup.go .marketplace-form-container {
  position: relative;
  max-width: 50rem;
  margin: 0 auto;
}
.signup.go .marketplace-form-container form {
  height: 18rem;
  left: 50% !important;
  transform: translate(-50%, 0) !important;
  animation: none !important;
}
.signup.go .marketplace-form-container form .signup-error h4 {
  color: #ea4b4b;
}
section.pitch {
  padding: 3rem 0;
}
section.pitch .container {
  max-width: 50rem;
}
section.pitch .container .row {
  margin: 1.5rem 0;
}
section.pitch .container .column {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
section.pitch .container .column div {
  position: relative;
}
section.pitch .container .column svg {
  position: absolute;
  left: -0.25rem;
  top: 0;
  stroke: #333333;
  height: 1.8rem;
  width: 1.8rem;
}
section.pitch .container .column h4 {
  font-weight: bold;
  color: #565e66;
  text-align: left;
  padding-left: 2rem;
  margin: 0;
}
section.pitch .container .column p {
  color: #565e66;
  padding-left: 2rem;
  margin: 0;
}
section.mobile-tablet h3.blue {
  color: #333333;
}
@media screen and (max-width: 767px) {
  .signup.go .container {
    width: 18rem;
    margin: 0 auto;
  }
  .signup.go .container .signup-container {
    display: none;
  }
  .signup.go .container .go-copy.column {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 18rem;
    margin: 0 auto;
  }
  section.white.pitch .container {
    width: 18rem;
    margin: 0 auto;
  }
  section.white.pitch .container .row .column:first-child {
    margin-bottom: 1.5rem;
  }
  .center {
    text-align: center;
  }
}
section.upgrade h3 {
  color: #98a7b4;
  max-width: 37.5rem;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .upgrade h1 {
    font-size: 1.5rem;
    margin: 0 2rem;
  }
  .upgrade h3 {
    font-size: 1rem;
    margin: 0 2rem;
  }
}
#update_cc_form .error {
  position: absolute;
  width: 100%;
  top: -3.5rem;
  left: 0;
  height: 3.5rem;
}
#update_cc_form .error h4 {
  width: 100%;
  margin: 0;
  font-weight: bold;
  text-align: center;
  color: #ea4b4b;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#update_cc_form .submit {
  margin-top: 1.5rem;
}