html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.manage-button {
    height: 40px;
    margin-left: 10px;
}

.save-quiz-button {
    float: right;
}

.add-answer {
    margin: 10px;
}
.answers-list-item {
    display: flex;
}
#save-text {
    margin: 5px;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}
.active-slide{
    opacity: 1;
    z-index: 2;
}
.quiz-container{
    position: relative;
    height: 450px;
    margin-top: 40px;
}
.quiz-box {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: #333;
    font-weight: 300;
    text-align: center;
    background-color: #f8f6f0;
}
.quiz-box h1{
    font-weight: 300;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    background-color: #444;
    color: #fff;
}
.quiz-box button{
    margin-top: 10px;
}

.radio-answers {
    display:inline-block;
    border-radius: 5px;
    border: 1px solid cornflowerblue;
    margin: 10px;
    width: 20%;
    height: 15%;
     /*-webkit-columns: 2;*/
     /*-moz-columns: 2;*/
 }

.radio-answers img{
    width: 100%;
    height: 100%;
}

.question img {
    max-height: 500px;
    max-width: 800px;
    overflow: auto;
}
.answers img {
    max-height: 300px;
    max-width: 400px;
    overflow: auto;
}
.quiz-box .question {
    max-height: 350px;
    overflow: auto;
}

.open-answer {
    margin-top: 30px;
}
.panel img {
    width: 30%;
    height: 100%;
}
.result-list li {
    width: 100%;
}
.result-list img {
     width: 30%;
     height: 100%;
 }
.result-list div .panel-body {
    display: flex;
}
.result-list div .panel-footer {
    display: flex;
}
.panel-body p {
    margin-right: 10px ;
}
.panel-footer p {
    margin-right: 10px ;
}

.questions-list {
    max-height: 600px;
    overflow: auto;
}
.questions-list li {
    display: block;
}
.questions-list img {
    height: 100px;
    width: 200px;
}

#quiz-content {
    width: 72%;
}

.left {
    margin-left: -15px;
    width: 25%;
    float: left;
}
.right {
    margin-left: 300px;
    /* Change this to whatever the width of your left column is*/
}
.clear {
    clear: both;
}

.quiz-name-input {
    font-size: 30px;
    height: 40px;
}

.parse-form {
    margin: auto;
    width: 550px;
    height: 270px;
    border: 1px solid #ffe8cf;
    border-radius: 4px;
}
.parse-input {
    margin-top: 2px;
    margin-left: 50px;
    margin-right: 50px;
    width: 445px;
    height: 45px;
    border: 1px solid #ffe8cf;
}
.parse-input:focus {
    outline: none;
    border-color: #ffe8cf;
    box-shadow: 0 0 10px #ffe8cf;
}

.parse-input-content {
    margin-top: 50px;
}

.parse-input-help {
    margin-left: 50px;
}

.parse-heading {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.parse-button {
    margin-top: 15px;
    width: 445px;
    margin-left: 50px;
    background-color: #ff6112;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}
.parse-button:focus {
    outline: none;
    border-color: #ffe8cf;
    box-shadow: 0 0 15px #ffe8cf;
}